<p-toast></p-toast>
<form class="flex justify-content-center" [style]="{ backgroundColor: '#023059', width: '40%', margin: '3% auto', padding: '2%', borderRadius: '12px' }" (submit)="submitForm()">
    <div class="card flex justify-content-center" [style]="{ width: '100%', textAlign: 'center', padding: '2%', marginBottom: '25px' }">
        <h1 [style]="{ color: '#fff', margin: '10px' }">Cadastrar Filme</h1>
        <span>Cadastre seu filme favorito e seja Feliz!</span>
    </div>
    <div class="card flex justify-content-center focusLabel" [style]="{ width: '100%' , margin: '0 auto' }">
        <label for="title">title</label>
        <input [style]="{ width: '100%', padding: '1rem', borderRadius: '7px', border: 'none' }" id="Title" type="text" pInputText name="movies.title" [(ngModel)]="movie.title" />
    </div>
    <div class="card flex justify-content-center focusLabel" [style]="{ width: '100%' , margin: '29px auto' }">
        <label for="director">director</label>
        <input
        [style]="{ 
        width: '100%',
        padding: '1rem',
        borderRadius: '7px',
        border: 'none' }" 
        id="director"
        type="text"
        name="movies.director"
        pInputText
        [(ngModel)]="movie.director" />
    </div>
    <div class="card flex justify-content-center" [style]="{ display: 'flex', flexDirection: 'rows', justifyContent: 'space-between', alignItems: 'center' }">
        <div [style]="{ width: '48%' }">
            <label for="publicationDate">publicationDate</label>
            <p-calendar 
            [(ngModel)]="movie.publicationDate"
            inputId="publicationDate"
            [style]="{ width: '100%', border: 'none' }"
            name="movies.publicationDate"
            />
        </div>
        <div [style]="{ width: '48%' }">
            <label for="genre">genre</label>
            <input [style]="{ width: '100%', padding: '1rem', borderRadius: '7px', border: 'none', heigth: '100%' }" id="genre" type="text" name="movies.genre" pInputText [(ngModel)]="movie.genre" />
        </div>
    </div>
    <div class="card flex justify-content-center" [style]="{ width: '100%', marginTop: '25px' }">
        <label for="description">description</label>
        <textarea 
            id="description" 
            rows="5"
            cols="30" 
            name="movies.description" 
            [style]="{ width: '100%', borderRadius: '7px' }"
            pInputTextarea>
        </textarea>
    </div>
    <div class="card flex justify-content-center" [style]="{ textAlign: 'center', padding: '2%', marginTop: '20px' }">
        <button pButton pRipple label="Enviar" class="p-button-success"></button>
    </div>
</form>